/*######################################*/
/*Colors for the template */
/*######################################*/

body {
    background-color: white;
}

#footer {
    background-color: #7C8BA9;
}

.cta1 {
    border-color: white;
}





.spinner > div,
.cta2 {
    background-color: white;
}






.owl-theme .owl-controls .owl-page.active span {
    background-color: #FB8B7A;
}






.subscribe-submit, 
.subscribe-submit:active {
    background-color: #FB8B7A;
}






#fb_icon:hover,
#tw_icon:hover, 
#in_icon:hover, 
#g_icon:hover, 
#pin_icon:hover, 
#fli_icon:hover,
.services_icon {
    fill:#f90706;
}





#fb_icon, 
#tw_icon, 
#in_icon, 
#g_icon, 
#pin_icon, 
#fli_icon {
    fill: white;
}





#preview {
    background-color:#81CCA9;
}

h3 {
    color:black;
}

h4 {
    color:#f90706;
}

.arrow_up,
.arrow_down {
    fill:#f0f0f0;
}

.arrow_down:hover,
.arrow_up:hover {
    fill:#dddddd;
}

.feature h4 {
    color: #81CCA9;
}

.feature_3 h4 {
    color: white;
}

#features_3, .arrows_box_bg {
    background-color: #FB8B7A;
}

#features_3, p {
    color: black;
}

#features_3 h2 {
    color: white;
}

.owl-theme .owl-controls .owl-page span{
	background-color: #d8d8d8;
}

