.share-container {
    margin: 0 auto;
}

.share-button-container {

}

.share-buttons-container-inactive {
    display: none;
}

.share-buttons-container-active {
    display: inline-block;
    position: relative;
    top: 1.1rem;
};

/* === SHARE BUTTON TOTAL === */
.button-total {
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition:0.3s;
    -moz-transition: 0.3s;
    transition: 0.3s;
    opacity: 1;
}

.button-total:hover {
    color: #474849;
    border-color: #474849;
    opacity: 0.7;
}

/* === SHARE BUTTON === */
.share-button {
    display: inline-block;
    padding-right: 20px;
}

.share-button .button {
    color: #f5f6f9;
    float: left;
    cursor: pointer;
    transition: opacity 0.3s;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
}

.share-button .button:hover {
    opacity: 0.7;
}

.share-button .counter {
    height:2.5rem;
    position: relative;
    float: left;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 0.10rem;
    color: #474849;
    font-family: 'Roboto', sans-serif;
    font-size:1rem;
    font-weight:700;
    font-style:normal;
    padding-top: 0.7rem;
    padding-bottom: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    line-height: 0.8rem;
    text-decoration:none;
    text-align:center;
    margin-left:0rem;
    margin-right:0rem;
    margin-top:0rem;
    letter-spacing:-0.03rem;
    -webkit-border-top-right-radius:28px;
    -moz-border-radius-topright:28px;
    border-top-right-radius:28px;
    -webkit-border-bottom-right-radius:28px;
    -moz-border-radius-bottomright:28px;
    border-bottom-right-radius:28px;
}

.share-button-facebook .button {
    background-image: url("addthis_social_icon_pack/facebook.png");
    height:2.5rem;
    position: relative;
    float: left;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 0.10rem;
    color: #474849;
    background-color: #474849;
    font-size:1rem;
    font-weight:700;
    font-style:normal;
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    line-height: 0.8rem;
    text-decoration:none;
    text-align:center;
    margin-left:0rem;
    margin-right:0rem;
    margin-top:0rem;
    letter-spacing:-0.03rem;
    -webkit-border-top-left-radius:28px;
    -moz-border-radius-topleft:28px;
    border-top-left-radius:28px;
    -webkit-border-bottom-left-radius:28px;
    -moz-border-radius-bottomleft:28px;
    border-bottom-left-radius:28px;
}

.share-button-twitter .button {
    background-image: url("addthis_social_icon_pack/twitter.png");
        height:2.5rem;
    position: relative;
    float: left;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 0.10rem;
    color: #474849;
    background-color: #474849;
    font-size:1rem;
    font-weight:700;
    font-style:normal;
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    line-height: 0.8rem;
    text-decoration:none;
    text-align:center;
    margin-left:0rem;
    margin-right:0rem;
    margin-top:0rem;
    letter-spacing:-0.03rem;
    -webkit-border-top-left-radius:28px;
    -moz-border-radius-topleft:28px;
    border-top-left-radius:28px;
    -webkit-border-bottom-left-radius:28px;
    -moz-border-radius-bottomleft:28px;
    border-bottom-left-radius:28px;
}

.share-button-gplus .button {
    background-image: url("addthis_social_icon_pack/gplus.png");
        height:2.5rem;
    position: relative;
    float: left;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 0.10rem;
    color: #474849;
    background-color: #474849;
    font-size:1rem;
    font-weight:700;
    font-style:normal;
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    line-height: 0.8rem;
    text-decoration:none;
    text-align:center;
    margin-left:0rem;
    margin-right:0rem;
    margin-top:0rem;
    letter-spacing:-0.03rem;
    -webkit-border-top-left-radius:28px;
    -moz-border-radius-topleft:28px;
    border-top-left-radius:28px;
    -webkit-border-bottom-left-radius:28px;
    -moz-border-radius-bottomleft:28px;
    border-bottom-left-radius:28px;
}

.share-button-vkontakte .button {
    background-image: url("addthis_social_icon_pack/vk.png");
        height:2.5rem;
    position: relative;
    float: left;
    position: relative;
    display: inline-block;
    border-style: solid;
    border-width: 0.10rem;
    color: #474849;
    background-color: #474849;
    font-size:1rem;
    font-weight:700;
    font-style:normal;
    padding-top: 0.8rem;
    padding-bottom: 0.9rem;
    padding-left: 0.5rem;
    padding-right: 0.8rem;
    line-height: 0.8rem;
    text-decoration:none;
    text-align:center;
    margin-left:0rem;
    margin-right:0rem;
    margin-top:0rem;
    letter-spacing:-0.03rem;
    -webkit-border-top-left-radius:28px;
    -moz-border-radius-topleft:28px;
    border-top-left-radius:28px;
    -webkit-border-bottom-left-radius:28px;
    -moz-border-radius-bottomleft:28px;
    border-bottom-left-radius:28px;
}
