/*######################################*/
/*Colors for the template */
/*######################################*/

body {
    background-color: white;
}
p {
    color: black;
}

.cta1 {
    border-color: #474849;
}





.spinner > div,
.cta2 {
    background-color: #13BDCE;
}





.owl-theme .owl-controls .owl-page.active span {
    background-color: #FB8B7A;
}






.subscribe-submit, 
.subscribe-submit:active {
    background-color: #13BDCE;
}






#fb_icon:hover,
#tw_icon:hover, 
#in_icon:hover, 
#g_icon:hover, 
#pin_icon:hover, 
#fli_icon:hover,
.services_icon {
    fill:#f90706;
}





#fb_icon, 
#tw_icon, 
#in_icon, 
#g_icon, 
#pin_icon, 
#fli_icon {
    fill: white;
}





#preview,
#home {
    background-image: url(images/home-bg.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#slogan {
    color: #474849;
}

.containersolid {
    background-color:#474849;
    color:#13BDCE;
    background: url(images/bgcontainer.gif) center center repeat-x;
}
.containersolid p{
    color:#f1f2f3;
    text-align: center;
}
.containersolid h3{
    color:#13BDCE;
    text-align: center;
}


h3 {
    color:black;
}

h4 {
    color:#f90706;
}

.arrow_up,
.arrow_down {
    fill:#f0f0f0;
}

.arrow_down:hover,
.arrow_up:hover {
    fill:#dddddd;
}

.feature h4 {
    color: #13BDCE;
}

.feature_3 h4 {
    color: #f1f2f3;
}

.home_p {
    color: #474849;
}

#features_3 p {
    color: #f1f2f3;
}

#features_3 h2 {
    color: #f1f2f3;
}

#features_3 h3 {
    color: #f1f2f3;
}


.owl-theme .owl-controls .owl-page span{
	background-color: #d8d8d8;
}


