.referral-alert {
color: #FFFFFF;
background-color: #EA5A5A;
padding: 13px 15px;
margin: auto;
border: 0px;
text-transform: uppercase;
display: none;
text-align: center;
position: fixed;
font-family: Roboto;
font-size: large;
left: 10%;
bottom: 5%;
width: 80%;
z-index: 999999999;
border-radius: 28px;
}
