.referral-alert {
    color: #a94442;
    background-color: #f2dede;
    padding: 10px 15px 10px 15px;
    border: 1px solid #ebccd1;
    display: none;

    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    z-index: 999999999;
}
