@media (min-width: 1200px) {
    html {
        font-size: 118.75%;
    }
    #home_image {
        top:3rem;
    }
    .icon-social{
        width: 3.4rem;
        position: inherit;
        display: inline-table;
    }
    #social_icons_home {
        text-align: center;
        margin-bottom: -3.6rem;
        margin-top: 3.2rem;
    }
    #social_icons{
        text-align: center;
        margin-bottom: -3.6rem;
        margin-top: 3.2rem;
    }

}

@media (min-width: 768px) and (max-width: 1199px) {
    html {
        font-size: 81.25%;
    }
    #logo {
        margin-top: 2rem;
    }
    .icon-social{
        width: 3.4rem;
        position: inherit;
        display: inline-table;
    }
    #social_icons_home {
        text-align: center;
        margin-bottom: -3.6rem;
        margin-top: 3.2rem;
    }

}

@media (max-width: 767px) {
    html {
        font-size: 81.25%;
    }

    #features_1, #features_2 {
    text-align:center;
    }
    

    .feature_icon {
    float:none;
    width:3rem;
    height:3rem;
    margin-bottom: 1rem;
    margin-right:0;
    }

    
    #about {
    margin-bottom:4.568em;
    }
    
    p {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    #features_3 {
        height:auto;
    }
    #features_3_content_left {
        text-align:center;
        padding-bottom:6.5rem;
        padding-right:1rem;
    }

    #features_3_content_right {
        text-align:center;
        padding-left:1rem;

    }

    #features_3_content_center img{
        text-align:center;
        margin-left:auto;
        margin-right:auto;
    }
    
    #logo {
        margin-top: 1rem;
    }
    
    #home_image {
        top:17rem;
    }
    
    #blog_header {
        text-align:center;
        height:auto;
        width:auto;
    }
    
    #title, #logo_blog {
        text-align: center;
    }
    
    #button_back {float:none;}
    .icon-social{
        width: 3.4rem;
        position: inherit;
        display: inline-table;
    }
    #social_icons_home {
        text-align: center;
        margin-bottom: -3.6rem;
        margin-top: 3.2rem;
    }

}

@media (max-width: 480px) {
    html {
        font-size: 62.5%;
    }
    p {
        font-size: 1.5rem;
    }

    h1 {font-size:3rem;}
    h2 {margin-top: 2rem;}
    #logo_header {margin-bottom:2em }
    
    #logo {
        margin-top: 1rem;
        text-align: center;
    }
    #home_image {
        top: 38rem;
        max-width: 135%;
        left: -11rem;
    }
    #slogan {
    text-align: center;
    }
    #features_3_content_center .img-responsive {
        max-width: 35.5rem;
        left: -5rem;
        top: -5rem;
    }
    #social_icons_home {
        text-align: center;
        margin-bottom: -3.6rem;
        margin-top: 22.8rem;
    }
    #social_icons{
        text-align: center;
    }
    #newsletter_form {
        text-align: center;
        display: flex;
        position: relative;
    }
    .home_p{
        text-align: center;
    }
    .feature_3_icon {
        margin-bottom: 1.6rem;
    }
    .feature_icon {
        margin-bottom: 2rem;
    }
    .contact-us-input{
        border-radius: 16px;
    }
    .icon-social{
        width: 3.4rem;
        position: inherit;
        display: inline-table;
    }
    .share-button {
        padding: 0 10px 0 0;
    }
    .button{
        width: 10%;
        height: 2.8rem;
        padding: 6px 10px;
    }
}